h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px;
}

#desc {
    margin: 10px 20px;
}

p {
    font-size: ;
}

.clicked {
    background-color: bisque;
}